body {
    margin: 0;
    background-color: #f7f7f8;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.display {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 2% 10%;
    background-color: #000;
}

.back,
.front {
    position: relative;
    width: 47%;
}

.back::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(169.2deg, rgba(0, 0, 0, 0.5) 51%, rgba(255, 255, 255, 0.5) 98%), linear-gradient(169.2deg, rgba(0, 0, 0, 0.5) 100%, rgba(255, 255, 255, 0.5) 31%);
}

.front::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(169.2deg, rgba(0, 0, 0, 0.5) 75%, rgba(255, 255, 255, 0.5) 91%), linear-gradient(169.2deg, rgba(0, 0, 0, 0.5) 15%, rgba(255, 255, 255, 0.5) 64%);
}

.front .thumbnail {
    height: 700px;
    background-image: url('../img/front.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.back .thumbnail {
    height: 700px;
    background-image: url('../img/back.jpg');
    text-align: left;
}

.sidebar {
    background-color: #1bd;
    width: 4%;
    height: 700px;
    font-family: 'Gruppo', cursive;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    /* border-top: 40px solid #163566; */
}

.sidebar span {
    display: block;
    color: #000;
    text-transform: uppercase;
    font-weight: 900;
    text-align: center;
    margin: 10px 0;
    text-shadow: 0 6px 8px #000;
}

.down {
    margin-top: 10px;
}

.content {
    position: absolute;
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.front .content .title {
    color: white;
    text-transform: capitalize;
    text-shadow: 0 5px 15px #000;
    font-family: 'Fredericka the Great', cursive;
    font-size: 40px;
    margin-top: 30px;
}

.front .content .subtitle {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 1.5px;
}

.front .content .author {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    letter-spacing: 5px;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 10px;
}

.front .footer {
    text-transform: uppercase;
    font-size: 8px;
    font-weight: 900;
}

.back .content {
    text-align: left;
    font-size: 12px;
    color: beige;
}

.back .content .title {
    text-transform: capitalize;
}

.back .content .subtitle {
    font-size: 11px;
}

.back .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.header {
    margin-top: 25px;
}

.logo {
    width: 25px;
    height: 25px;
}

.bar {
    width: 80px;
    height: 80px;
}

@media screen and (max-width: 1024px) {
    .display {
        padding: 2px 5px;
    }
    .back {
        width: 100%;
        order: 2;
        margin: 5px;
    }
    .sidebar {
        display: none;
    }
    .front {
        width: 100%;
        order: 1;
        margin: 5px;
    }
}